# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\系统存储\桌面\mySqlProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
